/*  Circe Thin */
@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/CirceThin/Circe-Thin.eot');
    src: url('../fonts/circe/CirceThin/Circe-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circe/CirceThin/Circe-Thin.woff') format('woff'),
    url('../fonts/circe/CirceThin/Circe-Thin.ttf') format('truetype'),
    url('../fonts/circe/CirceThin/Circe-Thin.svg#webfont') format('svg');
    font-weight: 100;
    font-style: normal;
}

/* Circe Extra Light */
@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/CirceExtraLight/Circe-ExtraLight.eot');
    src: url('../fonts/circe/CirceExtraLight/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circe/CirceExtraLight/Circe-ExtraLight.woff') format('woff'),
    url('../fonts/circe/CirceExtraLight/Circe-ExtraLight.ttf') format('truetype'),
    url('../fonts/circe/CirceExtraLight/Circe-ExtraLight.svg#webfont') format('svg');
    font-weight: 200;
    font-style: normal;
}

/* Circe Light */
@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/CirceLight/Circe-Light.eot');
    src: url('../fonts/circe/CirceLight/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circe/CirceLight/Circe-Light.woff') format('woff'),
    url('../fonts/circe/CirceLight/Circe-Light.ttf') format('truetype'),
    url('../fonts/circe/CirceLight/Circe-Light.svg#webfont') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* Circe Regular */
@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/CirceRegular/Circe-Regular.eot');
    src: url('../fonts/circe/CirceRegular/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circe/CirceRegular/Circe-Regular.woff') format('woff'),
    url('../fonts/circe/CirceRegular/Circe-Regular.ttf') format('truetype'),
    url('../fonts/circe/CirceRegular/Circe-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Circe Bold */
@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/CirceBold/Circe-Bold.eot');
    src: url('../fonts/circe/CirceBold/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circe/CirceBold/Circe-Bold.woff') format('woff'),
    url('../fonts/circe/CirceBold/Circe-Bold.ttf') format('truetype'),
    url('../fonts/circe/CirceBold/Circe-Bold.svg#webfont') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* Circe Extra Bold */
@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/CirceExtraBold/Circe-ExtraBold.eot');
    src: url('../fonts/circe/CirceExtraBold/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circe/CirceExtraBold/Circe-ExtraBold.woff') format('woff'),
    url('../fonts/circe/CirceExtraBold/Circe-ExtraBold.ttf') format('truetype'),
    url('../fonts/circe/CirceExtraBold/Circe-ExtraBold.svg#webfont') format('svg');
    font-weight: 900;
    font-style: normal;
}  