/* Responsive
----------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1195px) { 
    .section_title h2 {
        font-size: 34px;
        letter-spacing: 6px;
    }
    
    .choose_wrap {
        width: 100%;
        padding: 60px 30px;
    }

    .navbar-top_logo {
        display: none;
    }
    .navbar-top_switch {
        width: auto;
    }
    .navbar-top_switch-action {
        margin-right: 10px;
    }
    .topfoot-actions_number {
        padding-right: 15px;
    }
    .navbar_delivery .topfoot-actions_phone {
        margin-right: auto;
        justify-content: center;
    }
    .navbar-custom .navbar-header .nav {
        padding: 0 30px;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .product_image {
        text-align: center;
    }

    .main-delivery_page .call {
        margin-bottom: 100px;
    }
    .call_wrapper {
        max-width: 80%;
        padding: 0;
        justify-content: center;
    }
    .call_wrapper h2 {
        text-align: center;
        line-height: 1.3;
        font-size: 26px;
        margin-bottom: 65px;
    }

    
    .callshade_wrapper {
        max-width: 90%;
    }

    .about_image-inner {
        text-align: center;
    }
    .about_item-content {
        text-align: center;
    }

    .delcall {
        margin: 100px 0 100px;
    }
    .delcall_wrapper {
        width: 90%;
    }
    .delcall_inner {
        margin: 0;
    }
    .delcall_item h3 {
        font-size: 26px;
        letter-spacing: 5px;
    }
    .delinfo_map {
        max-width: 55%;
        margin-left: 15px;
    }


    .main-delivery_page .testimonials {
        margin-bottom: 25px;
    }
    .testimonials:after {
        display: none;
    }
    .testimonials_wrapper .slick-initialized .testimonials_item {
        align-items: center;
    }
    .testimonials .slick_custom-control {
        width: 100%;
    }

    .mainews .slick_custom-control {
        display: none;
    }

    .about-page .about_item:after {
        display: none;
    }
    .about_item-image {
        margin-bottom: 35px;
    }
    .about_image-inner img {
        box-shadow: none;
        margin: auto;
    }
    .about_item-image .slick_arrows-control .slick-arrow {
        margin: 0 30px;
    }


    .location-tab_item {
        width: 33%;
        margin-bottom: 25px;
    }
    .location-item_slides .slick-arrow {
        margin: 0 30px;
    }
    .location-item_slides {
        margin-bottom: 35px;
    }
    .location-item_slides ul {
        box-shadow: none;
    }
    .location-item_slides ul li img {
        margin: auto;
    }


    .reservation_wrap {
        max-width: 85%;
    }


    .gallery_archive {
        margin-bottom: 65px;
    }
    .gallery_item {
        padding: 0 5px;
        margin-bottom: 0px;
    }
    .gallery_archive--more {
        margin-top: 30px;
    }


    .product_content p {
        padding: 0;
    }

    .contact_location:after {
        left: -10px;
        width: calc(100% + 20px);
    }
    .contact_location-holder ul li img {
        margin: auto;
        box-shadow: none;
    }
    .contact_location-holder ul .slick-prev {
        left: -20px;
    }
    .contact_location-holder ul .slick-next {
        right: 0;
    }
    .map_finder {
        max-width: 75%;
    }
    .map_finder .custom_form-control {
        width: 80%;
    }


    .delivery-about-item {
        padding: 30px 0;
    }
    .delivery-about-item:after {
        display: none;
    }
    .delivery-about-text .delivery_item-content h3 {
        text-align: center;
        line-height: 1.3;
        letter-spacing: 4px;
    }
    .delivery-about-text .delivery_item-content .delivery_content-text p {
        padding: 0;
        text-align: center;
    }
    .delivery_item-content {
        padding: 0 15px;
        margin-bottom: 25px;
    }
    .delivery_item-image {
        margin-bottom: 20px;
        padding: 0 15px;
    }
    .delivery_image-inner {
        text-align: center;
    }
    .delivery-about-call .delcall_item:first-child {
        padding-bottom: 50px;
    }
    .delcall_item {
        text-align: center;
    }
    .delcall_item ul {
        justify-content: center;
    }
    .delivery-about-call .delcall_item ul li {
        text-align: center;
    }
    .delivery-about-call .delcall_action {
        width: 95%;
    }
    
    .delinfo_inner {
        text-align: center;
    }
    .delivery-about-map .delivery_item-content h3 {
        text-align: center;
    }


    .delivery_menu {
        margin-bottom: 25px;
    }

    .special {
        display: none;
    }
    .special.special--mobile {
        display: block;
    }
    .special_item h3 {
        text-align: center;
    }
    .special_content span {
        font-size: 14px;
        justify-content: center;
    }
    .special_content span i {
        font-size: 22px;
    }

    .special_item,
    .special_item:nth-child(2n) {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .special_image, .special_content {
        width: 100%;
        padding: 0 15px;
        box-shadow: none;
        margin-bottom: 25px;
        border: none !important;
        text-align: center;
    }
    .special_item h3 {
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: 2px;
    }


    .single_product-spec ul {
        justify-content: space-between;
    }
    .single_product-spec ul li {
        padding: 0;
    }
    .single_product-meta ul {
        justify-content: space-between;
    }
    .single_product-meta ul li {
        margin: 0;
    }
    .single_product-meta ul li img {
        display: none;
    }
    .single_product-price {
        flex-wrap: wrap;
    }
    .single_product-price .product_price {
        width: 100%;
        margin-bottom: 25px;
    }
    .single_product .product_action,
    .single_product-price .product-action_btn {
        width: 100%;
    }


    .checkout {
        margin-bottom: 50px;
    }
    .order {
        margin-bottom: 60px;
    }
    .order_list,
    .order_footer  {
        padding: 0 15px;
    }
    .order_item {
        flex-wrap: wrap;
        border-bottom: 1px solid #e6dfd2;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .order_item:last-child {
        border-bottom: 0;
    }
    .order_item-info.product_content {
        width: 55%;
        margin-left: 5%;
    }
    .order_item-info.product_content p {
        padding: 0;
    }
    .order_item-image {
        width: 40%;
        margin: 0;
    }
    .order_item-action {
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
    }
    .order_footer-promo h4 {
        display: none;
    }
    .order_footer {
        flex-wrap: wrap;
    }
    .order_footer-promo,
    .order_footer-price {
        width: 100%;
    }
    .order_footer-promo {
        margin-bottom: 25px;
    }
    .order_footer-promo input {
        width: 65%;
    }
    .order_footer-promo button {
        width: 35%;
    }
    .order_footer-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .checkout_wrap {
        max-width: 750px;
        width: 100%;
        padding: 0 15px;
    }
    .checkout_tabs {
        margin-bottom: 35px;
    }
    .checkout_wrap .section_title h4 {
        line-height: 1.3;
        letter-spacing: 3px;
    }
    .checkout_item .custom_form_group {
        margin: 0 !important;
    }
    .checkout_item .custom_form-control {
        width: 100%;
        margin-bottom: 25px;
        justify-content: flex-start;
    }
    .checkout_item .custom_form-control input[type=text],
    .checkout_item .custom_form-control button {
        width: 100%;
        height: 40px;
    }
    .checkout_item .bselect .dropdown-toggle:after {
        top: -5px;
        left: -25px;
    }
    .checkout_item .checkout_item-action {
        margin-top: 25px;
        width: 100%;
    }

    .banquet_about .about_item:after {
        display: none;
    }
    .banquet_about .about_item .row {
        flex-direction: column-reverse;
    }
    .banquet_about .about_item-image {
        margin-bottom: 0;
        margin-top: 35px;
    }
    .banquet-slides_actions {
        max-width: 655px;
        margin: auto;
    }


    .news-single_image {
        float: none;
        text-align: center;
    }
    .page_header .page_title {
        font-size: 28px;
        letter-spacing: 4px;
    }


    .footer_wrap {
        flex-wrap: wrap;
    }
    .footer_logo {
        display: none;
    }
    .footer_socials,
    .footer_wrap .topfoot_action {
        width: 100%;
        justify-content: space-between;
    }
    .footer_socials {
        margin-bottom: 35px;
    }
    .footer_socials span {
        max-width: 220px;
        text-align: center;
    }
    .topfoot-actions_phone {
        width: 100%;
        justify-content: space-between;
    }

    /* Landing */

    .navbar_landing .navbar-nav li:nth-child(3),
    .navbar_landing .navbar-nav li:nth-child(4) {
        margin: 0;
    }

    .lwelcome_pros li {
        width: 50%;
        margin-bottom: 35px;
        padding: 0 15px;
    }
    
    .about_item--landing .about_image-inner {
        box-shadow: none;
    }

    .landing_locations .location-item_info {
        padding: 0 50px;
    }

    .about_content-text a {
        margin: 35px auto 0;
    }
}

@media only screen and (max-width: 767px) {
    .mainews_list .slick-arrow,
    .testimonials_list .slick-arrow {
        display: none !important;
    }
    .container {
        max-width: initial;
        width: 100%;
    }
    .double_margin {
        margin: 0px -15px;
    }
    .section_title h2 {
        font-size: 30px;
        font-weight: 400;
        line-height: 1.2;
    }
    .slick_arrows-control .slick-arrow {
        display: none !important;
    }
    .slick_custom-control {
        width: 100% !important;
        padding: 0 15px;
    }
    .page_header {
        height: 150px;
        padding: 0;
    }
    .page_header .page_title {
        font-size: 32px;
        line-height: 1.2;
        letter-spacing: 5px;
        text-align: center;
    }
    
    #map-item {
        width: 100% !important;
    }

    .choose_wrap {
        width: 100%;
        padding: 30px 15px;
    }
    .choose_banners {
        flex-direction: column;
    }
    .choose_banner-item {
        width: 85%;
        margin-bottom: 65px;
    }
    .choose_banner-item:last-child {
        margin-bottom: 0;
    }

    .navbar-top_wrapper {
        flex-wrap: wrap;
    }
    .topfoot_action,
    .topfoot-actions_phone {
        width: 100%;
    }
    .navbar-top_wrapper .navbar-top_switch,
    .navbar-top_wrapper .navbar-actions_lang,
    .navbar-top_wrapper .topfoot-actions_number .topfoot-actions_callback {
        display: none;
    }
    .sticky-wrapper .navbar-custom .navbar-top_logo a,
    .sticky-wrapper .navbar-custom .navbar-top_logo a img {
        transition: none;
    }
    .navbar-top_logo {
        height: 30px;
        overflow: hidden;
        margin-bottom: 15px;
        text-align: left;
        padding-left: 15px;
        z-index: 1001;
        transition: none;
    }
    .navbar-custom .navbar-top_logo a {
        height: 30px !important;
    } 
    .navbar-custom .navbar-top_logo a img {
        position: relative;
        top: -75px !important;
        left: 0;
    }
    .navbar-custom .navbar-menu {
        position: absolute;
        top: 22px;
        right: 0;
        background-color: transparent;
        padding: 0;
        width: 100%;
    }
    .navbar_delivery .navbar-menu {
        top: 27px;
    }
    .navbar-toggler-text {
        display: none;
    }
    .navbar-top_switch-action {
        justify-content: center;
        width: 250px;
        margin: 0;
    }


    .navbar-top_wrapper .topfoot-actions_number,
    .navbar-top_wrapper .topfoot-actions_number span {
        margin: 0;
    }
    .topfoot-actions_phone {
        width: 100%;
        padding: 0 10px;
        justify-content: space-between;
    }
    .topfoot-actions_phone button,
    .topfoot-actions_reserv {
        width: 45%;
        height: 40px;
        font-size: 12px;
        letter-spacing: 1.8px;
    }

    .navbar_delivery .topfoot-actions_phone {
        width: 55%;
        margin: 0;
    }
    .navbar_delivery .topfoot-actions_phone button,
    .navbar_delivery .topfoot-actions_reserv {
        width: 100%;
    }
    .navbar_scart {
        width: 45%;
        justify-content: flex-end;
        padding-right: 35px;
    }
    
    .navbar-custom .navbar-header {
        max-width: 100%;
    }
    .navbar-custom .navbar-collapse {
        margin-top: 15px;
        margin-bottom: -15px;
        background-color: #38130b;
        padding-left: 35px;
    }
    .navbar-custom .navbar-header .nav {
        padding-top: 25px;
        align-items: flex-start;
        color: #fff;
        margin-bottom: 35px;
    }
    .navbar-custom .navbar-header .nav li a {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        line-height: 1;
        padding: 10px 0;
        display: inline-block;
    }

    .navbar-nav_additional {
        display: inline-block;
        padding-bottom: 25px;
    }
    .navbar-nav_additional .navbar-top_switch,
    .navbar-nav_additional .navbar-actions_lang,
    .navbar-nav_additional .navbar-top_switch ul {
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .navbar-nav_additional .navbar-actions_lang {
        margin-top: 45px;
    }
    .navbar-nav_additional .navbar-actions_lang ul {
        display: flex;
        line-height: 1;
    }
    .navbar-nav_additional .navbar-actions_lang ul li {
        padding-bottom: 0;
        margin-right: 25px;
        font-weight: 400;
    }
    .navbar-nav_additional .navbar-actions_lang ul li:first-child {
        padding-left: 0;
    }
    .navbar-nav_additional .navbar-actions_lang ul li:hover,
    .navbar-nav_additional .navbar-actions_lang ul li:focus {
        color: #fff;
    }
    .navbar-nav_additional .navbar-top_switch ul li:first-child {
        margin-bottom: 15px;
    }


    .welcome_banner_control {
        padding: 0px 15px;
        display: none;
    }
    .welcome_banner_control button:before {
        background-color: transparent;
    }

    .about_item {
        padding-top: 25px;
        padding-bottom: 45px;
    }
    .about_item:after {
        height: 20%;
        display: none;
    }
    .about_item:nth-child(2):after {
        border-top: 0;
    }
    .about_item:nth-child(2) .row {
        flex-direction: column-reverse;
    }
    .about_item .row {
        margin: 0 -15px;
        flex-direction: column-reverse;
    }
    .about_item-image {
        margin-top: 25px;
    }
    .about_image-inner img {
        box-shadow: 18px 10px 65px rgba(65, 31, 31, 0.15);
    }
    .about_item-content {
        padding: 0 15px;
    }
    .about_item:nth-child(2) .about_item-content {
        padding: 0 15px;
    }
    .about_item-content h3 {
        text-align: center;
        font-size: 32px;
        letter-spacing: 5px;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    .locations {
        padding-top: 65px;
    }
    .location-tab_item {
        width: 50%;
        text-align: center;
        margin-bottom: 10px;
        padding: 5px 15px;
    }
    .location-tab_btn span {
        letter-spacing: 1px;
    }
    .location-item_slides {
        margin-bottom: 30px;
    }
    .location-item_slides ul {
        box-shadow: none;
    }

    .location-item_slides ul {
        padding: 0 15px;
    }
    .location-item_slides .slick-arrow {
        display: block !important;
        height: auto;
        width: 30px;
        padding: 0 5px;
    }
    .location-item_slides .slick-next {
        right: -10px;
    }
    .location-item_slides .slick-arrow:after {
        display: none;
    }
    .location-item_slides .slick-arrow:before {
        color: #6d2f21;
    }

    .location-item_slides ul li img {
        margin: auto;
    }
    .location-item_action {
        width: 85%;
    }
    
    .call {
        margin-top: 65px;
        margin-bottom: 80px;
        background-position-x: 10%;
    }
    .call_wrapper {
        max-width: 90%;
    }
    .call_wrapper h2 {
        font-size: 28px;
        line-height: 1.3;
        letter-spacing: 4px;
        text-align: center;
    }
    .call_wrapper form {
        flex-wrap: wrap;
    }
    .call_wrapper form input,
    .call_wrapper form button {
        width: 100%;
        height: 50px;
        margin: 0;
    }
    .call_wrapper form input {
        margin-bottom: 15px;
    }

    .testimonials_wrapper:before {
        display: none;
    }
    .testimonials_wrapper .slick-initialized .testimonials_item {
        flex-direction: column-reverse;
    }
    .testimonial_content,
    .testimonial_image {
        padding: 0 15px;
    }
    .testimonial_image {
        margin-bottom: 30px;
    }
    .testimonial_image:before {
        content: '';
    }
    .testimonial_image img {
        margin: auto;
    }
    .testimonial_content-action {
        width: 85%;
        margin: auto;
    }
    .testimonials:after {
        display: none;
    }

    .mainews {
        padding-top: 80px;
    }
    .mainews .slick_custom-control {
        display: none;
    }
    .news_item {
        margin-bottom: 15px;
    }

    .news_archive-list {
        margin: 0 -5px 10px;
    }

    .callshade {
        height: 450px;
        margin-top: 80px;
    }
    .callshade_wrapper {
        max-width: 90%;
    }
    .callshade_inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .callshade_content {
        width: 100%;
    }
    .callshade_logo {
        padding: 20px 0;
    }
    .callshade_logo img {
        display: block;
        max-width: 70%;
        margin: auto;
    }

    .reservation_wrap {
        max-width: 100%;
        padding: 0 15px;
    }
    .reservation_wrap .section_title h2 {
        line-height: 1.3;
        font-size: 26px;
        letter-spacing: 4px;
    }

    .footer_wrap {
        flex-wrap: wrap;
        justify-content: center;
        padding: 35px 0 30px;
    }
    .footer_socials {
        width: 100%;
        justify-content: center;
        margin-bottom: 25px;
    }
    .footer_logo {
        display: none;
    }
    .footer_wrap .topfoot-actions_callback {
        width: 100%;
        line-height: 1;
        height: initial;
    }
    .footer_wrap .topfoot-actions_phone {
        padding: 0;
        width: 85%;
        margin: auto;
    }


    .gallery_archive {
        margin-bottom: 70px;
    }


    .videocall {
        margin-top: 60px;
    }

    .about-page .locations {
        padding-top: 80px;
        margin-bottom: 80px;
    }
    .about-gallery {
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .about-gallery_wrap {
        padding: 0 15px;
    }
    .about-gallery_nav {
        flex-wrap: wrap;
        padding: 0;
    }
    .about-gallery_nav li {
        width: 50%;
        margin-bottom: 10px;
    }
    .about-gallery_nav li:nth-child(2n) button {
        border-right: 2px solid #dbb78f;
    }

    .single_product-holder {
        display: flex;
        justify-content: center;
    }
    .single_product-holder a {
        pointer-events: none;
    }
    .single_product-image {
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .single_product-meta ul {
        justify-content: center;
    }
    .single_product-content {
        padding: 0 15px;
    }
    .single_product-price .product_price {
        margin-right: 10%;
    }


    .restaraunt_menu {
        margin-bottom: 45px;
    }
    .restaraunt_menu-navlist {
        padding: 0 15px;
    }
    .restaraunt_menu-list {
        margin-top: 50px;
        padding: 0 15px;
    }
    .product_image {
        text-align: center;
    }
    .product_item .product_image {
        max-width: 270px;
        margin: 0 auto 30px;
    }
    .menu_item {
        text-align: center;
    }

    .contact_location {
        margin-bottom: 40px;
    }
    .contact_location-holder ul .slick-arrow {
        opacity: 1;
        visibility: visible;
    }
    .contact_location-holder ul .slick-prev {
        left: 5px;
    }
    .contact_location-holder ul .slick-next {
        right: 15px;
    }
    .contact_location-content {
        height: 160px;
    }
    .contact_location:after {
        display: none;
    }
    .contact_action-reserv {
        display: none;
    }
    .contact_location-holder ul li img {
        margin: auto;
        box-shadow: none;
    }
    .map_finder {
        max-width: 100%;
        padding: 0 15px;
    }
    .map_finder input {
        width: 90%;
        margin-right: 0;
    }



    .mainprods {
        padding-top: 60px;
    }
    .products_wrap {
        margin: 0;
    }
    .product_price {
        width: 75%;
        margin: 0 auto 15px;
    }
    .mainprods_link {
        margin: 15px auto;
    }

    .delinfo_map {
        position: relative;
        padding: 0 15px;
        margin-bottom: 30px;
        box-shadow: 18px 30px 65px rgba(65, 31, 31, 0.15);
        width: 100%;
    }
    .delinfo_map #map-item {
        height: 350px !important;
    }
    .delinfo_content {
        margin: 0;
    }

    .delinfo_inner {
        display: flex;
        flex-direction: column;
    }
    .delinfo_inner .delinfo_meta {
        order: 1;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .delinfo_inner p:nth-child(2) {
        order: 3;
    }
    .delinfo_inner p:nth-child(1) {
        order: 2;
    }


    .main-delivery_page .testimonials {
        margin-bottom: 60px;
    }
    .delcall {
		margin: 80px 0 60px;
		background-position-x: 30%;
	}
    .delcall_wrapper {
        width: 100%;
        padding: 0 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .delcall_image {
        display: none;
    }
    .delcall_inner {
        text-align: center;
        margin: 0;
    }
    .delcall_item ul {
        justify-content: center;
    }
    .delcall_action {
        margin: 50px auto 0;
        height: 50px;
    }


    .delivery-about-item {
        padding: 50px 0 0;
    }

    .delivery-about-item .row {
        flex-direction: column;
    }
    .delivery-about-item .delivery_item-image {
        order: 1;
        margin-bottom: 0;
    }
    .delivery-about-item .delivery_item-content {
        order: 3;
    }
    .delivery-about-item .delinfo_meta {
        order: 2;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .delivery_item-image h3 {
        letter-spacing: 4px;
        text-align: center;
        line-height: 1.3;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 15px;
    }


    .delivery_item-content,
    .delivery_item-image {
        margin-bottom: 15px;
    }
    .delivery_item-content {
        padding-left: 15px;
    }
    .delivery_item-image {
        padding-right: 15px;
    }

    .delivery_image-inner {
        margin-bottom: 25px;
    }

    .delivery-about-text .delivery_item-content h3,
    .delivery-about-map .delivery_item-content h3 {
        letter-spacing: 4px;
        text-align: center;
        line-height: 1.3;
    }
    .delivery_content-text {
        margin-bottom: 15px;
    }
    .delivery-about-text .delivery_item-content .delivery_content-text p {
        padding: 0;
    }

    .delivery-about {
        margin-bottom: 45px;
    }
    .delivery-about-item:after {
        display: none;
    }
    .delivery-about-call .delcall_inner {
        padding: 0;
    }
    .delivery-about-item:nth-child(2n) .delivery_item-content {
        padding-right: 15px;
    }
    .delivery-about-call .delcall_item ul li {
        text-align: center;
    }
    .delivery-about-item:nth-child(2n) .delivery_item-image {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .delivery-about-call .row {
        flex-direction: column-reverse;
    }
    .delivery-about-map #map-item {
        height: 350px !important;
    }
    .delivery-about-map .delivery_item-content {
        padding-right: 15px;
    }
    .delivery-about-map .delinfo_meta {
        padding: 0 15px;
    }


    .delivery_menu {
        margin-bottom: 45px;
    }
    .delivery-list_sort {
        width: 50%;
        min-width: 215px;
    }
    .delivery_menu-list {
        padding: 0 15px;
    }

    .special {
        display: none;
    }
    .special.special--mobile {
        display: block;
    }
    .special_item h3 {
        text-align: center;
    }
    .special_content span {
        font-size: 14px;
    }
    .special_content span i {
        font-size: 22px;
    }

    .special_item,
    .special_item:nth-child(2n) {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .special_image, .special_content {
        width: 100%;
        padding: 0 15px;
        box-shadow: none;
        margin-bottom: 25px;
        border: none !important;
    }
    .special_item h3 {
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: 2px;
    }


    .checkout {
        margin-bottom: 50px;
    }
    .order {
        margin-bottom: 60px;
    }
    .order_list,
    .order_footer  {
        padding: 0 15px;
    }
    .order_item {
        flex-wrap: wrap;
        border-bottom: 1px solid #e6dfd2;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .order_item:last-child {
        border-bottom: 0;
    }
    .order_item-info.product_content {
        width: 55%;
        margin-left: 5%;
    }
    .order_item-info.product_content p {
        padding: 0;
    }
    .order_item-image {
        width: 40%;
        margin: 0;
    }
    .order_item-action {
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
    }
    .order_footer-promo h4 {
        display: none;
    }
    .order_footer {
        flex-wrap: wrap;
    }
    .order_footer-promo,
    .order_footer-price {
        width: 100%;
    }
    .order_footer-promo {
        margin-bottom: 25px;
    }
    .order_footer-promo input {
        width: 65%;
    }
    .order_footer-promo button {
        width: 35%;
    }
    .order_footer-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .checkout_wrap {
        max-width: 750px;
        width: 100%;
        padding: 0 15px;
    }
    .checkout_tabs {
        margin-bottom: 35px;
    }
    .checkout_wrap .section_title h4 {
        line-height: 1.3;
        letter-spacing: 3px;
    }
    .checkout_item .custom_form_group {
        margin: 0 !important;
    }
    .checkout_item .custom_form-control {
        padding: 0;
        width: 100%;
        margin-bottom: 25px;
        justify-content: flex-start;
    }
    .checkout_item .custom_form-control input[type=text],
    .checkout_item .custom_form-control button {
        width: 100%;
        height: 40px;
    }
    .checkout_item .bselect .dropdown-toggle:after {
        top: -5px;
        left: -25px;
    }
    .checkout_item .checkout_item-action {
        margin-top: 25px;
        width: 100%;
    }
    .checkout_item .custom_form-control .dropdown-toggle {
        overflow: hidden;
    }

    .banquet_about .about_item:after {
        display: none;
    }
    .banquet_about .about_item .row {
        flex-direction: column-reverse;
    }
    .banquet_about .about_item-image {
        margin-bottom: 0;
        margin-top: 35px;
    }
    .banquet-slides_actions {
        width: 100%;
        padding: 50px 15px 0;
        margin: auto;
    }
    .banquet-slides_action_btn {
        font-size: 11px;
        letter-spacing: 1.2px;
    }
    .banquet-item_info {
        padding: 0 30px;
    }

    .news_single-wrap {
        padding: 0 15px;
    }
    .news-single_image {
        float: none;
        text-align: center;
        padding: 0;
        margin-bottom: 15px;
    }
    .page_header .page_title {
        font-size: 28px;
        letter-spacing: 4px;
    }
    .news-single_share {
        padding-top: 50px;
    }

    .pswp .videowrapper {
        width: 95%;
    }


    .custom-modal_wrapper {
        max-width: 90%;
    }
    .custom-modal .modal-dialog {
        top: 15%;
        padding: 0;
    }
    .custom-modal_wrapper h3 {
        font-size: 25px;
        letter-spacing: 4px;
        line-height: 1.3;
    }
    .custom-modal_wrapper h3 span {
        display: block;
        margin-top: 20px;
        line-height: 1.5;
    }
    .custom-modal .close {
        top: 5%;
        left: initial;
        right: 0;
    }


    /* Landing */

    .navbar_landing .navbar-nav li:nth-child(3),
    .navbar_landing .navbar-nav li:nth-child(4) {
        margin: 0;
    }

    .navbar_landing .navbar-top_wrapper .navbar-top_switch,
    .navbar_landing .navbar-top_wrapper .navbar-top_logo {
        display: none;
    }
    .navbar_landing .topfoot-actions_reserv {
        z-index: 5;
    }

    .lwelcome_pros li {
        width: 50%;
        margin-bottom: 35px;
        padding: 0 15px;
    }
    .lwelcome_title h1 {
        font-size: 25px;
        padding: 0 15px;
    }
        
    .about_item--landing .about_image-inner {
        box-shadow: none;
    }

    .landing_locations .location-item_info {
        padding: 0 25px;
    }

    .about_item--reverse .about_item-content {
        padding: 0 15px;
    }
    .about_item--reverse .about_content-text {
        text-align: center;
    }
    .about_item--landing .about_content-text a {
        margin: 35px auto 0;
    }

    .landing_gallery {
        padding-top: 25px;
    }
    .banquet_locations {
        margin-bottom: 70px;
    }

    .partners {
        padding-bottom: 120px;
    }
    .partners-list_inner {
        overflow: hidden;
    }

    .landing_reservation {
        height: 900px;
    }

}

@media only screen and (max-width: 480px) {
    .search_active .navbar-scart_search-inner {
        width: 280px;
    }

    .choose_wrap {
        max-height: 100vh;
        padding: 10px 15px;
    }
    .choose_banner-item {
        width: 80%;
        margin-bottom: 35px;
    }
    .choose_banner-icon {
        height: 65px;
        margin-bottom: 15px;
    }
    .choose_banner-icon img {
        max-width: initial;
        max-height: 65px;
    }
    .choose_banner-img img {
        max-width: 70%;
    }
    .choose_banner-link.btn_white {
        height: 40px;
        font-size: 17px;
        letter-spacing: 4px;
    }

    .news_item {
        text-align: center;
    }
    .news_meta {
        justify-content: center;
    }

    .about_item-content h3 {
        font-size: 28px;
    }
    .about_item-image {
        margin-top: 30px;
    }
    .section_title h2 {
        font-size: 32px;
    }
    .location-tab_btn span {
        font-size: 12px;
        max-width: 100%;
    }
    .location-item_info h3 {
        font-size: 26px;
        letter-spacing: 5px;
    }
    .location-item_inner {
        width: 85%;
    }

    .slick_custom-control .slick-dots li {
        padding: 7px 15px;
    }

    .section_title {
        margin-bottom: 35px;
    }
    .section_title h2 {
        font-size: 26px;
        padding: 0 15px;
    }

    .about-gallery_nav {
        padding: 0 5px;
    }
    .about-gallery_action a {
        max-width: 95%;
    }
    .about-gallery_item {
        padding: 0 5px;
        padding-bottom: 5px;
        margin-bottom: 0;
    }

    .gallery_item {
        padding: 0 5px;
        margin-bottom: 0;
    }
    .gallery_archive--more {
        margin-top: 25px;
    }

    .news_archive-wrap {
        padding: 0 15px;
    }

    .page_header .page_title {
        font-size: 22px;
        line-height: 1.2;
        letter-spacing: 3px;
    }
    .page_breadcumb {
        margin-bottom: 15px;
    }

    .reservation_wrap .section_title {
        padding: 0 15px;
    }
    .reservation_send {
        max-width: 95%;
    }

    .delivery-about-call .delcall_item h3 {
        font-size: 26px;
        line-height: 1.4;
    }

    .map_container .section_title h2 {
        font-size: 22px;
        letter-spacing: 4px;
        padding: 0 15px;
    }

    .product_item .product_content,
    .product_item .product_price,
    .product_item .product_action {
        max-width: 270px;
    }
    .product_item .product_content {
        margin: 0 auto 15px;
    }
    .product_item .product_action {
        margin: auto;
    }
    .product_price {
        width: 95%;
    }
    .product_content p {
        padding: 0;
    }

    .special_content span {
        font-size: 14px;
        justify-content: center;
    }
    .special_content p {
        text-align: center;
    }

    .single_product-wrap {
        max-width: 95%;
        margin: 0 auto;
    }
    .single_product-image {
        padding: 0;
    }
    .single_product-meta {
        padding: 0;
        display: none;
    }
    .single_product-content {
        padding: 0;
    }
    .single_product-spec ul {
        justify-content: space-between;
    }
    .single_product-spec ul li {
        padding: 0;
    }
    .products_wrap .product_item {
        margin-bottom: 30px;
    }

    .single_product-price {
        flex-wrap: wrap;
    }
    .single_product-price .product_action {
        width: 100%;
        margin-top: 25px;
    }
    .single_product-price .product-action_btn {
        width: 100%;
    }

    .order_item-action .product-price_control {
        width: 125px;
        margin-right: 0;
    }
    .order_footer-promo {
        display: flex;
        flex-wrap: wrap;
    }
    .order_footer-promo input {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .order_footer-promo button {
        width: 100%;
        margin-top: 25px;
    }

    .banquet-slides_actions {
        padding-top: 25px;
        flex-wrap: wrap;
    }
    .banquet-slides_action_btn {
        width: 100%;
        margin-top: 10px;
    }
    .banquet-slides_action_btn:first-child,
    .banquet-slides_action_btn:last-child {
        margin-left: 0;
        margin-right: 0;
    }
    .banquet-item_num ul {
        flex-wrap: wrap;
    }
    .banquet-item_num ul li {
        width: 50%;
        margin-bottom: 25px;
    }
    .banquet-item_num ul li:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
    .banquet_reservation {
        height: 100%;
        padding: 60px 0 50px;
    }    
    .reservation_wrap .custom_form-control_file,
    .reservation_wrap .custom_form-control_file-info {
        margin-bottom: 15px;
    }
    .custom_form-control_file label em {
        display: none;
    }
    .custom_form-control_file label span {
        width: 100%;
    }
    .custom_form-control_file-info {
        justify-content: center;
    }
    .banquet_reservation .reservation_send {
        width: 100%;
        margin-top: 25px;
        letter-spacing: 1px;
        font-size: 12px;
    }

    .footer_socials {
        flex-wrap: wrap;
    }
    .footer_socials ul {
        width: 100%;
        justify-content: center;
    }
    .footer_socials span {
        max-width: 80%;
        margin: 20px 0 0;
    }
    .footer_wrap .topfoot-actions_phone {
        justify-content: center;
        flex-direction: column;
    }
    .topfoot-actions_number {
        padding: 0;
        margin-bottom: 20px;
    }

    .lwelcome {
        height: 750px;
        margin-bottom: 35px;
    }
    .lwelcome_pros li {
        width: 100%;
    }

    /* Landing */
    
    .landing_locations .location-item_info {
        padding: 0 35px;
    }
    .hall_tabs {
        margin-bottom: 25px;
    }
    .hall-tab_item {
        width: 50%;
        margin-bottom: 15px;
    }

    .places {
        left: 50%;
        transform: translateX(-50%);
    }

    .partners-list_wrap .slick_custom-control {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    .search_active .navbar-scart_search-inner {
        max-width: 260px;
    }
    
    .about_item-content h3 {
        font-size: 28px;
    }
    .about_item-image {
        margin-bottom: 30px;
    }
    .section_title h2 {
        font-size: 32px;
    }
    .location-tab_btn span {
        font-size: 11px;
        max-width: 100%;
    }
    .location-item_info h3 {
        font-size: 26px;
        letter-spacing: 5px;
    }
    .location-item_inner {
        width: 85%;
    }

    .section_title h2 {
        letter-spacing: 4px;
    }

    .news_item {
        margin-bottom: 45px;
    }

    .callshade_action {
        max-width: 90%;
    }
    
    .delcall_item h3 {
        font-size: 26px;
        line-height: 1.3;
    }
    .delcall_item ul li {
        margin-right: 15px;
    }
    .delcall_action {
        max-width: 90%;
    }

    .main-delivery_page .testimonials {
        margin-bottom: 40px;
    }

    .delivery_menu {
        margin-bottom: 25px;
    }

    /* Landing */

    .topfoot-actions_phone button,
    .topfoot-actions_reserv {
        width: 60%;
    }
}