/* Reset 
----------------------------------------------------------------------------- */
:root {
	--main-color: 		#6d2f21;
    --secondary-color: 	#dbb78f;
    
    --accent-color: 	#eabc89;
    --grey-color:       #e3e3e3;

    --main-font: 		'Circe', sans-serif;
    --black-font:       #3e2a2e;

    --extra-lg:         1560px;
}

body {
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--main-color);
    background-color: #fcf5e9;
    overflow-x: hidden;
    height: 100%;
    /* max-width: 1500px; */
    margin: auto;
}
*,*:before,*:after {
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}
iframe {
    border: none;
    width:100%;
}
a {
    color: inherit;
    -webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    color: var(--main-color);
}
img {
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
/* section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
} */


/* Helpers
----------------------------------------------------------------------------- */
.less_ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pswiper .slide {
    cursor: pointer;
}
.pswp .videowrapper {
    position: absolute;
    display: block;
    width: 50%;
    padding: 0;
    overflow: hidden;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pswp .videowrapper:before {
    display: block;
    content: "";
    padding-top: 56.25%;
}
.pswp .videowrapper iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.double_margin {
    margin: 0 -30px;
}

.section_title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.section_title h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 0.6;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 0;
}

.slick_arrows-control .slick-arrow {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}
.slick_arrows-control .slick-arrow:before {
    font-family: "bocconcino";
    font-size: 35px;
    color: #fff;
    width: initial;
    height: initial;
    line-height: 0.7;
    position: relative;
    top: 2px;
}
.slick_arrows-control .slick-arrow:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #6d2f21;
    opacity: 0.7;
    z-index: -1;
}
.slick_arrows-control .slick-arrow:hover:after,
.slick_arrows-control .slick-arrow:focus:after {
    opacity: 0.95;
}
.slick_arrows-control .slick-prev:before {
    content: '\69';
}
.slick_arrows-control .slick-next:before {
    content: '\68';
}

.slick_custom-control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slick_custom-control .slick-arrow {
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(109, 47, 33, 0.6);
    padding: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}
.slick_custom-control .slick-arrow:hover,
.slick_custom-control .slick-arrow:focus {
    background-color: rgba(109, 47, 33, 1);
}
.slick_custom-control .slick-arrow i {
    position: relative;
    top: 5px;
}
.slick_custom-control .slick-arrow.next i {
    left: 2px;
}
.slick_custom-control .slick-arrow.prev i {
    left: -2px;
}
.slick_custom-control .dots {
    position: relative;
}
.slick_custom-control .slick-dots {
    position: relative;
    display: flex;
    bottom: initial;
    height: 20px;
}
.slick_custom-control .slick-dots li {
    width: initial;
    height: 100%;
    margin: 0;
    padding: 7px 22px;
}
.slick_custom-control .slick-dots li button {
    width: 6px;
    height: 6px;
    padding: 0;
    position: relative;
}
.slick_custom-control .slick-dots li button:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #6d2f21;
    border-radius: 50%;
    opacity: 1;
}
.slick_custom-control .slick-dots li.slick-active button:before,
.slick_custom-control .slick-dots li:focus button:before,
.slick_custom-control .slick-dots li:hover button:before {
    background-color: #dbb78f;
}

.btn_white,
.btn_light,
.btn_medium,
.btn_full {
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    transition: all ease-in-out .1s;
    cursor: pointer;
}

.btn_white {
    color: #fff;
    border: 2px solid #fff;
}
.btn_white.active,
.btn_white:focus,
.btn_white:hover {
    color: #ffffff;
    background-color: #b58855;
    border: 2px solid #b58855;
}
.btn_white.active {
    box-shadow: inset 0 3px 7px #926a3c;
}

.btn_light {
    color: #dbb78f;
    border: 2px solid #dbb78f;
}
.btn_light.active,
.btn_light:focus,
.btn_light:hover {
    color: #ffffff;
    background-color: #b58855;
    border: 2px solid #b58855;
}
.btn_light.active {
    box-shadow: inset 0 3px 7px #926a3c;
}

.btn_medium {
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
.btn_medium.active,
.btn_medium:focus,
.btn_medium:hover {
    color: #fff;
    background-color: var(--main-color);
}
.btn_medium.active {
    box-shadow: inset 0 3px 7px #582316;
}

.btn_full {
    background-color: #c8a37a;
    color: #fff;
}
.btn_full.active,
.btn_full:focus,
.btn_full:hover {
    color: #ffffff;
    background-color: #b58855;
}
.btn_full.active {
    box-shadow: inset 0 3px 7px #926a3c;
}

.show-more_btn {
    background-color: transparent;
    border: none;
    color: #c8a37a;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    cursor: pointer;
}
.show-more_btn:hover,
.show-more_btn:focus {
    color: var(--main-color);
}
.show-more_btn i {
    display: block;
    margin-bottom: 15px;
    font-size: 27px;
    line-height: 0.7;
}

.placeholder_white::placeholder {
    color: #fff;
    font-weight: 300;
}

.bselect {
    width: 100% !important;
}
.bselect .dropdown-toggle {
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    border: none;
    color: var(--main-color);
    padding: 0;
}
.bselect .dropdown-toggle:after {
    font-family: "bocconcino";
    content: "\6a";
    border: none;
    margin: 0;
    width: 20px;
    height: 20px;
    font-size: 25px;
    position: relative;
    top: -10px;
    left: -10px;
}
.bselect .dropdown-toggle:not(:disabled):not(.disabled).active,
.bselect .dropdown-toggle:not(:disabled):not(.disabled):active,
.bselect .dropdown-toggle.dropdown-toggle {
    color: currentColor;
}
.bselect .dropdown-menu {
    min-width: 100% !important;
    box-shadow: 8px 13px 35px rgba(65, 31, 31, 0.25);
    background-color: #fff;
    border-radius: 0;
    padding: 15px 20px;
    border: none;
}
.bselect .dropdown-menu li a {
    color: #6d2f21;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    background-color: transparent;
    padding: 9px 0;
}
.bselect .dropdown-menu li a.active,
.bselect .dropdown-menu li a:hover,
.bselect .dropdown-menu li a:focus {
    color: #b58855;
}
.bselect.bootstrap-select .dropdown-toggle:focus,
.bselect.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
}

.custom_form-control {
    position: relative;
}
.custom_form-control.error input,
.custom_form-control.error select,
.custom_form-control.error .bselect .dropdown-toggle {
    position: relative !important;
    border-color: #f05f57 !important;
}
.custom_form-control.error:after {
    content: attr(data-err-message);
    position: absolute;
    top: calc(100% + 5px);
    right: 15px;
    color: #f05f57;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.custom_form-control input[type=radio],
.custom_form-control input[type=checkbox] {
    display: none;
    position: absolute;
    visibility: hidden;
}
.custom_form-control input[type=radio] ~ label,
.custom_form-control input[type=checkbox] ~ label {
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}
.custom_form-control input[type=radio] ~ label:before,
.custom_form-control input[type=checkbox] ~ label:before,
.custom_form-control input[type=radio] ~ label:after,
.custom_form-control input[type=checkbox] ~ label:after  {
    content: '';
    transition: .2s;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -1px;
    width: 20px;
    height: 20px;
}
.custom_form-control input[type=radio]:checked ~ label:before,
.custom_form-control input[type=radio].active ~ label:before,
.custom_form-control input[type=checkbox]:checked ~ label:before,
.custom_form-control input[type=checkbox].active ~ label:before,
.custom_form-control input[type=radio]:checked ~ label:after,
.custom_form-control input[type=radio].active ~ label:after,
.custom_form-control input[type=checkbox]:checked ~ label:after,
.custom_form-control input[type=checkbox].active ~ label:after {
    border-color: #dbb78f;
}
.custom_form-control input[type=radio] ~ label:after,
.custom_form-control input[type=checkbox] ~ label:after {
    position: absolute;
    width: 18px;
    height: 18px;
}

.custom_form-control input[type=radio] ~ label:before {
    border-radius: 50%;
}
.custom_form-control input[type=radio] ~ label:after {
    content: '';
    border: 5px solid #eee;
    border-radius: 50%;
    top: 0px;
    left: 1px;
    transform: scale(0);
}
.custom_form-control input[type=radio]:checked ~ label:after,
.custom_form-control input[type=radio].active ~ label:after {
    transform: scale(1);
    border-color: #dbb78f;
}

.custom_form-control input[type=checkbox] ~ label:before {
    border-radius: 0;
}
.custom_form-control input[type=checkbox] ~ label:after {
    content: '\71';
    font-family: "bocconcino";
    top: 3px;
    left: 5px;
    font-size: 10px;
    line-height: 1;
    border-radius: 0;
    color: #fff;
    background-color: transparent;
    border: 0;
    opacity: 0;
}
.custom_form-control input[type=checkbox]:checked ~ label:after,
.custom_form-control input[type=checkbox].active ~ label:after {
    opacity: 1;
    border-color: #dbb78f;
}
.custom_form-control input[type=checkbox]:checked ~ label:before,
.custom_form-control input[type=checkbox].active ~ label:before {
    background-color: #dbb78f;
}

.custom_form-control_file,
.custom_form-control_file-info {
    display: flex;
    align-items: center;
    height: 45px;
}
.custom_form-control_file label {
    margin-bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.custom_form-control_file label span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 100%;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.custom_form-control_file label em {
    font-style: normal;
    color: #ffffff;
    font-family: Circe;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
}
.custom_form-control_file input {
    display: none;
}

.custom_form-control_file-info {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.topfoot_action {
    display: flex;
    align-items: center;
}
.topfoot-actions_phone {
    display: flex;
    align-items: center;
}
.topfoot-actions_number {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding-right: 20px;
    line-height: 1;
}
.topfoot-actions_number span {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 5px;
}
.topfoot-actions_number button {
    background-color: transparent;
    border: none;
    font-family: var(--main-font);
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0;
    text-align: left;
    color: #be976d;
    cursor: pointer;
}
.topfoot-actions_reserv {
    border: 2px solid #6d2f21;
    color: #6d2f21;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    height: 45px;
    width: 200px;
    padding: 0;
    letter-spacing: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call_socials ul {
    display: flex;
    align-items: center;
}
.call_socials ul li {
    margin-right: 15px;
    line-height: 0.7;
}
.call_socials ul li:last-child {
    margin: 0;
}
.call_socials ul li a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dbb78f;
    border: 2px solid currentColor;
    border-radius: 50%;
    transition: all .1s ease;
}
.call_socials ul li a:hover,
.call_socials ul li a:focus {
    color: #fff;
    border-color: #b58855;
    background-color: #b58855;
}
.call_socials ul li i {
    font-size: 18px;
}

.zoom-hover_item {
    display: inline-block;
    overflow: hidden;
}
.zoom-hover_item img {
    transition: all .35s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.zoom_hover:hover .zoom-hover_item img, 
.zoom_hover:focus .zoom-hover_item img {
    transform: scale(1.1);
} 

#epl_notify {
    background-color: #fff;
    border-radius: 4px;
    max-width: 600px;
    box-shadow: 1px 1px 30px -2px rgba(0,0,0,0.2);
    font-family: Roboto;
    font-weight: 300;
    letter-spacing: 0.1px;
    font-size: 15px;
    padding: 15px 50px;
    line-height: 1.4;
    color: #333;
    position: fixed;
    top: 65px;
    right: 10px;
    transform: translateX(200%);
    transition: all .3s ease;
    opacity: 0;
    z-index: 9999;
}
#epl_notify.active {
    transform: translateX(0);
    opacity: 1;
}
#epl_notify:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#epl_notify.success:before {
	background-color: #1eab9e;
}
#epl_notify.error:before {
    background-color: #f36539;
}
#epl_notify.warning:before {
    background-color: #f7bd10;
}
#epl_notify.info:before {
	background-color: #2aade8;
}
#epl_notify.action:before {
    background-color: #f7f7f7;
}



/* Navigation
----------------------------------------------------------------------------- */
.navbar-custom {
    flex-direction: column;
    padding: 0;
    z-index: 999;
}
.navbar_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.navbar-top_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-top_switch {
    width: calc(30% + 30px);
}
.navbar-top_switch ul {
    text-align: center;
}
.navbar-top_switch ul {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.5px;
    color: #b58855;
    line-height: 1;
}

.navbar-top_switch-action {
    padding: 0 25px;
    display: flex;
    align-items: center;
    height: 45px;
    width: 200px;
    margin-right: 30px;
}
.navbar-top_switch-action img {
    max-width: 35px;
    margin-right: 20px;
}
.navbar-top_switch {
    display: flex;
    align-items: center;
}
.navbar-actions_lang {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color: #b58855;
}
.navbar-actions_lang ul {
    display: flex;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2.5px;
    color: #b58855;
    line-height: 1;
}
.navbar-actions_lang ul li {
    padding: 0 10px;
    cursor: pointer;
}
.navbar-actions_lang ul li:focus,
.navbar-actions_lang ul li:hover,
.navbar-actions_lang ul li.active {
    color: var(--main-color);
}

.navbar-top_logo {
    text-align: center;
}
.navbar-top_logo img {
    max-width: 85%;
}

.navbar-custom .navbar-menu {
    width: 100%;
    background-color: #ede0ce;
    padding: 20px 0 15px;
}
.navbar-custom .navbar-header {
    padding: 0;
}
.navbar-custom .navbar-header .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6d2f21;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 1;
}

.navbar-custom li a:hover,
.navbar-custom li a:focus {
    color: #b78c5b;
}


.navbar-toggler {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    background: transparent;
    border: none;
    margin-left: auto;
    color: #6d2f21;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 25px;
    height: 20px;
    right: 30px;
}

.navbar-toggler .navbar-toggler-icon {
	margin-top: -2px;
	-webkit-transform: none;
	        transform: none;
}
.navbar-toggler .navbar-toggler-icon, 
.navbar-toggler .navbar-toggler-icon:after, 
.navbar-toggler .navbar-toggler-icon:before {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    border-radius: 4px;
    background-color: currentColor;
    top: -6px;
    margin-right: 5px;
}

.navbar-toggler .navbar-toggler-icon:after, 
.navbar-toggler .navbar-toggler-icon:before {
	display: block;
	content: "";
}

.navbar-toggler .navbar-toggler-icon:before {
    top: 7px;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-transition-property: 		opacity,-webkit-transform;
    transition-property: 		opacity,-webkit-transform;
    transition-property: 		transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
}
.navbar-toggler .navbar-toggler-icon:after {
    top: 12px;
    -webkit-transform: none;
            transform: none;
}

.navbar-toggler.active .navbar-toggler-icon {
    -webkit-transform: translate3d(0,3px,0px) rotate(45deg);
            transform: translate3d(0,3px,0px) rotate(45deg);
}
.navbar-toggler.active .navbar-toggler-icon:before {
    -webkit-transform: rotate(-45deg) translate3d(-10px,-3px,0);
            transform: rotate(-45deg) translate3d(-10px,-3px,0);
    opacity: 0;
}
.navbar-toggler.active .navbar-toggler-icon:after {
    -webkit-transform: translate3d(0,-14px,0) rotate(-90deg);
    transform: translate3d(0,-14px,0) rotate(-90deg);
}

.navbar-nav_title {
    line-height: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.navbar-nav_title,
.navbar-nav_socials h6 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: 700;
    color: #1f67a1;
}
.navbar-nav_title button {
    line-height: 0;
}
.navbar-nav_title .navbar-toggler {
    margin-right: initial;
    opacity: 0.7;
}
.navbar-nav_title .navbar-toggler:hover,
.navbar-nav_title .navbar-toggler:focus {
    opacity: 1;
}
.navbar-nav_socials {
    margin-top: 60px;
}
.navbar-nav_socials ul {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
    width: 80%;
    display: flex;
}
.navbar-nav_socials ul li {
    margin-right: 15px;
}

.navbar_app {
    margin-top: 35px;
}
.navbar_app a {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
}
.navbar_app a span {
    display: flex;
    color: #c8a37a;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}


/* About
----------------------------------------------------------------------------- */
.about_item {
    display: flex;
    flex-wrap: wrap;
    padding-top: 95px;
    padding-bottom: 105px;
    overflow: hidden;
    position: relative;
}
.about_item:last-child {
    padding-bottom: 0;
}
.about_item:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -8px;
    width: 30%;
    height: 100%;
    border: 2px solid #dbb78f;
    z-index: -1;
}
.about_item .row {
    margin: 0 -30px;
}
.about_image-inner {
    position: relative;
}

.about_image-inner img {
    box-shadow: 18px 30px 65px rgba(65, 31, 31, 0.25);
}
.about_item-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: transparent;
    border: none;
    font-size: 50px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
}
.about_item-play:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #6d2f21;
    opacity: 0.8;
    z-index: -1;
}
.about_item-play i {
    position: relative;
    left: 5px;
    line-height: 0.5;
    -webkit-text-stroke: 2px rgba(122, 66, 47, 0.8);
}

.about_item-content {
    padding-left: 45px;
}
.about_item-content h3 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
    line-height: 1.2;
    margin-bottom: 25px;
}
.about_content-text p {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 15px;
    letter-spacing: -0.1px;
}
.about_content-text p:last-child {
    margin-bottom: 0;
}

.about_item:nth-child(2) .row {
    flex-direction: row-reverse;
}
.about_item:nth-child(2) .about_item-content {
    padding-right: 45px;
    padding-left: 15px;
}
.about_item:nth-child(2):after {
    top: 0;
    left: initial;
    right: -8px;
}


/* Location
----------------------------------------------------------------------------- */
.locations {
    padding-top: 135px;
}
.locations .section_title {
    margin-bottom: 40px;
}
.location_list-wrapper {
    width: 100%;
    position: relative;
}
.location_tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    border: none;
}
.location-tab_item {
    width: 25%;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 15px;
}
.location-tab_btn {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid currentColor;
    color: var(--main-color);
    height: 90px;
    cursor: pointer;
}
.location-tab_btn.active,
.location-tab_btn:hover,
.location-tab_btn:focus {
    color: #c69c6d;
}
.location-tab_btn i, 
.location-tab_btn span {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 1;
}
.location-tab_btn i {
    font-size: 28px;
    line-height: 0.7;
}
.location-tab_btn span {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    max-width: 70%;
}

.location_content {
    margin-top: 35px;
    display: block;
}
.location_item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.location-item_slides ul {
    padding: 0;
    margin: 0;
    box-shadow: 18px 30px 65px rgba(65, 31, 31, 0.25);
}
.location-item_info h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.35;
    text-transform: uppercase;
    text-align: center;
    width: 95%;
    margin: 0 auto 30px;
    letter-spacing: 6px;
}
.location-item_inner {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    text-align: center;
}
.location-item_inner span {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.location-item_inner span:last-child {
    margin-bottom: 0;
}
.location-item_inner .location_inner-number {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}
.location-item_action {
    display: block;
    margin: auto;
    width: 80%;
    padding: 15px 0;
    cursor: pointer;
}




/* Testimonials
----------------------------------------------------------------------------- */
.testimonials {
    position: relative;
}

.main-delivery_page .testimonials {
    margin-bottom: 150px;
}

.testimonials:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 30%;
    height: 100%;
    border: 2px solid #dbb78f;
    border-right: none;
    z-index: -1;
}
.testimonials_wrapper {
    width: 100%;
    position: relative;
}
.testimonials_wrapper:before {
    content: url(img/quote.png);
    display: inline-block;
    position: absolute;
    top: -25px;
    right: 30%;
}
.testimonials_list {
    margin-bottom: 35px !important;
}
.testimonials_wrapper .slick-initialized .testimonials_item {
    display: flex;
    flex-wrap: wrap;
}
.testimonial_content,
.testimonial_image {
    position: relative;
    padding: 0;
}

.testimonial_content h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.testimonial_content h3 a {
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    color: #dbb78f;
    border: 2px solid currentColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
    padding-top: 2px;
    margin-right: 25px;
}
.testimonial_content h3 a:hover,
.testimonial_content h3 a:focus {
    color: #fff;
    border-color: #b58855;
    background-color: #b58855;
}
.testimonial_content h3 i {
    line-height: 0.7;
}
.testimonial_content p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 30px;
}
.testimonial_content-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
}

.testimonial_image img {
    margin-left: auto;
}

.testimonials .slick_custom-control {
    width: calc(55% + 25px);
}


/* Reservation
----------------------------------------------------------------------------- */
.reservation {
    position: relative;
    height: 600px;
    background-size: cover;
}
.reservation_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 50%;
    margin: 0 auto;
}
.reservation_wrap .section_title {
    color: #fff;
    padding: 0 50px;
}
.reservation_wrap .section_title h2 {
    line-height: 48px;
}
.reservation_wrap form {
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
}
.reservation_wrap .custom_form-control {
    margin-bottom: 30px;
}
.reservation_wrap .custom_form-control input,
.reservation_wrap .custom_form-control select,
.reservation_wrap .custom_form-control .bselect .dropdown-toggle {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    height: 50px;
    color: #fff !important;
    border-radius: 0;
    position: relative;
    letter-spacing: 0.25px;
}

.reservation_send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    margin: 50px auto 0;
}



/* Map
----------------------------------------------------------------------------- */
.map {
    margin-top: 65px;
}
#map-item {
    width: 100%;
    height: 450px;
}

.map_container .section_title {
    margin-bottom: 30px;
}
.map_container .section_title h2 {
    font-size: 30px;
    letter-spacing: 6px;
}

.map_finder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(45% + 15px);
    height: 50px;
    margin: 0 auto 40px;
}
.map_finder .custom_form-control {
    width: 90%;
    height: 100%;
}
.map_finder input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #6d2f21;
    width: 100%;
    height: 100%;
    margin-right: 30px;
    font-size: 18px;
    color: #6d2f21;
}
.map_finder input::placeholder {
    color: #6d2f21;
    font-weight: 400;
}
.map_finder button {
    width: 50px;
    height: 100%;
    font-size: 21px;
    line-height: 0.5;
}




/* Modals
----------------------------------------------------------------------------- */
.custom-modal.fade {
    background-color: #38130b;
    opacity: 0.95;
}
.custom-modal .modal-dialog {
    max-width: 850px;
    margin: auto;
    top: 25%;
}
.custom-modal--reserv .modal-dialog {
    padding: 0 50px;
}
.custom-modal .close {
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 0.5;
    box-shadow: none;
    text-shadow: none;
    color: #c8a37a;
    border: 2px solid #c8a37a;
    opacity: 1;
}
.custom-modal .modal-content {
    background-color: transparent;
    border: none;
}
.custom-modal_wrapper {
    max-width: 100%;
}
.custom-modal_wrapper h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
}
.custom-modal--newsletter .custom-modal_wrapper h3 {
    line-height: 1;
    margin-bottom: 65px;
}
.custom-modal_wrapper h3 span {
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-transform: none;
    letter-spacing: 0.25px;
    display: block;
    margin-top: 25px;
}
.custom-modal_wrapper h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 35px;
}
.custom-modal--newsletter-send {
    width: 100%;
    height: 100%;
    min-height: 40px;
}


/* Banquet
----------------------------------------------------------------------------- */
.banquet_about {
    margin-bottom: 150px;
}
.banquet_about .about_item-content h3 {
    font-size: 36px;
}



.banquet_locations {
    margin-bottom: 110px;
}
.banquet_content {
    margin-top: 50px;
}
.banquet_content .location_item {
    align-items: normal;
}
.banquet-item_info {
    padding-right: 0;
    padding-left: 50px;
}
.banquet-slides_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.banquet-slides_action_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
}
.banquet-slides_action_btn:first-child {
    margin-right: 5px;
}
.banquet-slides_action_btn:last-child {
    margin-left: 5px;
}

.banquet-item_info h3 {
    text-align: left;
    margin-left: 0;
}
.banquet-item_info h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.banquet-item_description {
    margin-bottom: 35px;
}
.banquet-item_description h4 {
    margin-bottom: 15px;
}
.banquet-item_description p {
    font-weight: 400;
    line-height: 1.4;
}


.banquet-item_num {
    margin-bottom: 45px;
}
.banquet-item_num ul {
    display: flex;
    justify-content: space-between;
}
.banquet-item_num ul li h5 {
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
}
.banquet-item_num ul li span {
    color: #bf905c;
}
.banquet-item_num ul li span strong {
    font-size: 38px;
    font-weight: 400;
    line-height: 0.8;
    text-transform: uppercase;
    display: block;
}
.banquet-item_num ul li span em {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    font-style: normal;
    text-transform: lowercase;
    letter-spacing: 0.5px;
}


.banquet-item_pros h4 {
    margin-bottom: 30px;
}
.banquet-item_pros ul li {
    position: relative;
    margin: 10px 0;
    padding-left: 30px;
    padding-right: 15px;
}
.banquet-item_pros ul li:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #bf905c;
}


.banquet_gallery .gallery_archive-wrapper {
    min-width: 0;
    min-height: 0;
}
.banquet-gallery_nav .location-tab_btn {
    height: 70px;
}
.banquet-gallery_nav .location-tab_btn span {
    max-width: 85%;
}

.banquet-gallery_nav.slick_arrows-control .slick-arrow {
    margin-top: -7px;
    height: 25px;
    width: 25px;
    border-radius: 0;
    overflow: initial;
    z-index: 2;
}
.banquet-gallery_nav.slick_arrows-control .slick-arrow:after {
    display: none;
}
.banquet-gallery_nav.slick_arrows-control .slick-arrow:before {
    font-size: 25px;
    color: #dbb78f;
    top: 0;
}


.banquet-page .testimonials {
    margin-bottom: 150px;
}
.banquet_reservation .reservation_send {
    width: 450px;
}


/* Gallery archive
----------------------------------------------------------------------------- */
.gallery_archive-page .page_header {
    margin-bottom: 15px;
}
.gallery_archive {
    margin-bottom: 95px;
}
.gallery_archive-inner {
    display: flex;
    flex-wrap: wrap;
}
.gallery_archive-wrapper .location_tabs {
    margin-bottom: 20px;
}
.gallery_item {
    margin-bottom: 30px;
}
.gallery_archive--more {
    text-align: center;
}


/* Footer
----------------------------------------------------------------------------- */
.footer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 80px 0 70px;
}
.footer_socials {
    display: flex;
    align-items: center;
}
.footer_socials ul li {
    margin-right: 10px;
    line-height: 0.7;
}
.footer_socials span {
    max-width: 160px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}
.footer_logo {
    margin-left: -20px;
}
.footer_logo img {
    position: relative;
    top: -20px;
}
.footer_wrap .topfoot-actions_reserv {
    width: 220px;
}



/* Landing - Helpers
----------------------------------------------------------------------------- */
.datepickers-container {
    z-index: 2000;
}



/* Landing - Navbar
----------------------------------------------------------------------------- */
.navbar_landing .navbar_top {
    background-color: #ede0ce;
}
.navbar_landing .navbar-custom .navbar-menu {
    background-color: transparent;
}
.navbar_landing .navbar-top_switch {
    width: 300px;
}
.navbar_landing .navbar-nav li:nth-child(3) {
    margin-right: 150px;
}
.navbar_landing .navbar-nav li:nth-child(4) {
    margin-left: 150px;
}
.navbar_landing .navbar-top_logo img {
    position: relative;
    top: 45px;
    max-width: 105px;
}




/* Landing - Welcome
----------------------------------------------------------------------------- */
.lwelcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/welcome.jpg);
    height: 585px;
    background-size: cover;
    margin-bottom: 65px;
}
.lwelcome_title {
    text-align: center;
    margin-bottom: 115px;
}
.lwelcome_title h1 {
    font-family: Circe;
    font-size: 45px;
    font-weight: 400;
    color: #fff;
    line-height: 1.25;
    margin-bottom: 0;
}
.lwelcome_title h1 b {
    font-weight: 400;
    text-transform: uppercase;
}

.lwelcome_pros {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lwelcome_pros ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lwelcome_pros li {
    position: relative;
    width: 25%;
    color: #fff;
}
.lwelcome_pros li strong {
    position: absolute;
    top: 6px;
    color: #ede0ce;
    font-family: Circe;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
}
.lwelcome_pros li span {
    display: flex;
    padding-left: 35px;
    font-family: Circe;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.7;
    position: relative;
}
.lwelcome_pros li span:before {
    content: '';
    position: absolute;
    top: 5%;
    left: 25px;
    width: 1px;
    height: 85%;
    background-color: #fcf5e9;
    opacity: 0.2;
}



/* Landing - About
----------------------------------------------------------------------------- */
.about_item--landing:after {
    top: 0;
}
.about_item--landing .about_image-inner {
    box-shadow: 18px 30px 45px rgba(65, 31, 31, 0.25);
}
.about_item--landing .about_image-inner img {
    box-shadow: none;
}
.about_item:last-child {
    padding-bottom: 70px;
}
.about_item:nth-child(2):after {
    display: none;
}


.about_item--reverse .row {
    flex-direction: row-reverse;
}
.about_item--reverse .about_item-content {
    padding-right: 45px;
    padding-left: 15px;
}
.about_item--reverse:after {
    top: 0;
    left: initial;
    right: -8px;
}

.about_content-text a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 50px;
    margin-top: 35px;
}


/* Landing - Locations
----------------------------------------------------------------------------- */
.landing_locations {
    padding-top: 65px;
}

.landing_locations .location-item_info h3 {
    color: #6d2f21;
    font-family: Circe;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    margin-bottom: 25px;
}
.landing_locations .location_tabs {
    justify-content: initial;
}
.location-tab_btn span {
    max-width: 100%;
}

.hall_tabs {
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.hall-tab_btn {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #6d2f21;
    font-family: Circe;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}
.hall-tab_btn:hover,
.hall-tab_btn:focus,
.hall-tab_btn.active {
    color: #c69c6d;
    text-decoration: none;
}



/* Landing - Gallery
----------------------------------------------------------------------------- */
.landing_gallery {
    padding-top: 100px;
}



/* Landing - Partners
----------------------------------------------------------------------------- */
.partners-list_wrap {
    margin-top: 25px;
    min-width: 0;
    min-height: 0;
}
.partners {
    padding-bottom: 150px;
}
.partners-list_inner li span {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    text-align: center;
}



/* Landing - Testimonials
----------------------------------------------------------------------------- */
.landing_testimonials {
    padding-bottom: 100px;
}
.landing_testimonials:after {
    height: 85%;
}



/* Landing - Reservation
----------------------------------------------------------------------------- */
.landing_reservation {
    height: 700px;
}
.landing_reservation .section_title {
    padding: 0px 25px;
}



/* Landing - Map
----------------------------------------------------------------------------- */
.lanmap {
    position: relative;
    height: 500px;
}

.places {
    position: absolute;
    left: 10%;
    z-index: 2;
    height: 100%;
    max-width: 350px;
    background-color: #fff;
}
.place_image {
    padding-top: 45px;
}
.place_title,
.place_info,
.place_action {
    padding: 0 40px;
    text-align: center;
}

.place_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    padding: 35px 0;
}

.place_info {
    display: flex;
    flex-direction: column;
}
.place-info_phone {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.place-info_time,
.place-info_adress {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.place-info_adress {
    margin-bottom: 10px;
}
.place_action button {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    color: #b58855;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.places .slick_arrows-control .slick-arrow:after {
    background-color: transparent;
    color: #dbb78f;
}
.places .slick_arrows-control .slick-arrow:before {
    color: #dbb78f;
}
.places .slick_arrows-control .slick-arrow {
    top: calc(50% + 19px);
}
.places .slick_arrows-control .slick-prev {
    left: 0;
}
.places .slick_arrows-control .slick-next {
    right: 0;
}